.project-Card {
    margin-top: 2rem;
    align-self: center;
    justify-self: center;
      

}

.project-Title {
    text-align: center;
    font-size: 1.6rem;
    font-family: 'IBM Plex Mono', monospace;
    color: #DFFF00;
 
}

.project-Image {
    display: block;
    width: 25vw;
    margin: 2rem auto;
    
    /* margin: .25rem 10rem; */
}

.project-Description {
    margin-top: 1rem;
    /*margin: 1rem 0rem 2rem 2rem;*/
    padding: 0rem 8rem;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.15rem;
    color: #DFFF00;
}

.project-BtnContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.project-Btn {
    border-style: solid;
    border-width: 3px;
    border-color: #DFFF00;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    color: #DFFF00;
    margin: .50rem .75rem;
    width: 6rem;
    height: 1.25rem;
    background: #fff;
    /* fallback color for old browsers */
    background: rgba(255, 255, 255, 0.2);
    padding-bottom: 1.25rem;
    cursor: pointer;
}


@media all and (max-width:768px){
.project-Card{
    align-self: center;
    align-items: center;
}
.project-Image{
    margin:2rem auto;
      
}
}