.section-Footer{
    background-color: #29224C;
    height: 20vh;
    width: 100vw;
}

.contact-info{
    color: #DFFF00;  
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.25rem;
    text-align: center;
    padding-top: 3rem;
}

.socials{
    
        color: #DFFF00;  
        font-family: 'IBM Plex Mono', monospace;
        font-size: 1.25rem;
        text-align: left;
        
    
}

