.section-Contact{
    background-color: white;
    height: 90vh;
}

.contactTitle{
    color: #2f2855;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2.5rem;
    padding-top: 1.5em;
    padding-bottom: .5em;

}

.form-Container{
    display: flex;
}

.form-Submit{
    width: 8rem;
    height: 1.75rem;
    font-size: 1rem;
    color: #2f2855;
    font-family: 'IBM Plex Mono', monospace;
    padding-bottom: 1.25rem;
    
}