.section-About{
        background-color:white;
    }

.aboutTitle{
    color: #2f2855;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2.5rem;
    padding-top: 1.5em;
    padding-bottom: .5em;

}

.aboutContainer{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 2rem 5vw;
    
}

.aboutText{
    width: 100%;
    max-width: 1024px;
    /* border-style: solid;
    border-width: .1rem; */
    text-indent: 2em;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}

.aboutSkills-Container{
    margin-left: 2rem;
}


.aboutSkills{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 4em;
    width: 100%;     
    /* border-style: solid;
    border-width: .1rem; */
    list-style: none;
    
}


.skillset-Label{
    text-decoration: underline;
    line-height: 1rem;
    margin-left: 8rem;
    margin-bottom: .3rem;
    font-family: 'IBM Plex Mono', monospace;
    font-size: .9rem;
    text-align: center;
    
}

.skill{
    /* border-style: solid;
    border-width: .1rem; */
    border-radius: .25em;
    padding: .5em;
    margin: .5em .5em;
    text-align: center;
    background-color: lightgray;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    
}

@media all and (max-width:768px){
    .section-About{
        /* height: 100vh; */
    }
    .aboutContainer{
        flex-direction: column;
        align-content: space-around;
       flex-shrink: 2;
        }

    .skillset-Label{
        margin-left: 0;
        padding-top: 2rem;
    }
    .aboutSkills{
        margin-left: 0;
        margin-top: 2em;
        grid-template-columns: repeat(2, 1fr);
        font-size: 1rem;        
    }


    }/*closes media query for mobile*/
