/*

 overlay color is #29224C opacity 77%

 pic dimensions: 1919px wide x 955.67 high


 buttons 288.11px wide x 69 px high
  background white 33% opacity
  border solid #CEE722 border width is 10 in justinmind, not sure what that means

*/

 .Hero{
  
  height: 100vh;
  
  
  
} 


header {
  height: 600px;
  width: 100vw;
  background: #29224C;
  overflow: hidden;
  position: relative;
}

.contentContainer{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;  
  align-items: center;
  position: absolute;
  top: 20%;
  left:0;  
  margin: 0vw 5vw;
  
}



/*.contentContainer > h1, button{
 margin: 0em 4em;
}*/

img {
  width: 100%;
  height: 100vh;  
  opacity: 0.4;
  overflow: hidden;
  

}


.HeroTxt{
  max-width: 10em;
  font-size: 7rem;
  font-family: 'IBM Plex Mono', monospace;
  color: #DFFF00;   
  }

.BtnContainer{
    height: 15em;
   display: flex;
   flex-direction: column;
   justify-content: space-around; 
   margin-left: 9rem;
}

.HeroBtn{
  cursor: pointer;
  border: none;
    border-style: solid;
  border-color: #DFFF00;
  border-width: .5em;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.30rem;
  background: #fff; /* fallback color for old browsers */background: rgba(255, 255, 255, 0.2);
  color: #DFFF00;
  width: 25vw;
  height: 5em;
  max-width: 500px;
 
}