.burger div {
    width: 25px;
    height: 3px;
    background-color: #DFFF00;
    /*opacity: 90%;*/
    margin: 5px;
}

.burger {

    z-index: 10005;
   
    margin-top: .5rem;
    position: fixed;
    right: 0px;
    top: 0;

    padding-right: 1em;
    cursor: pointer;
}